:root {
  /* Colors */
  --background-color: #404A65;
  --text-color: white;
  --accent-color: #1F6FB0;
  --accent-shadow: #155a8c;
  --text-stroke: #35383f;

  /* Typography */
  --font-family: "Kanit", sans-serif;
  --title-size: clamp(2rem, 10vw + 0.5rem, 4rem);
  --text-size: 1.5rem;
  --button-size: 1.25rem;

  /* Spacing (only general ones) */
  --gap: 1rem;
}

html, body { height: 100%; }

/* Flexbox page layout */
body {
  margin: 0;                 /* remove default 8px margin */
  min-height: 100dvh;        /* body at leas as tall as screen, better than 100vh on mobile */
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

main {
  flex: 1 0 auto;            /* <main can take all space>/<main cant compress>/Item base heigh from its content */
  display: flex;             /* use flex to center/space inner content */
  flex-direction: column;
  align-items: center;       /* horizontally center children */
  gap: var(--gap);           /* consistent spacing between children */
  padding: clamp(17px, 3vw, 32px);
}

.title {
    text-align: center;
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: 300;
    font-size: var(--title-size);
    line-height: 1.1;
    margin: 2rem 0;
    letter-spacing: 1px;
    text-shadow: 3px 3px 0px var(--text-stroke);
    filter: drop-shadow(2px 2px 0px var(--text-stroke)) 
            drop-shadow(-2px -2px 0px var(--text-stroke)) 
            drop-shadow(2px -2px 0px var(--text-stroke)) 
            drop-shadow(-2px 2px 0px var(--text-stroke))
            drop-shadow(3px 0px 0px var(--text-stroke))
            drop-shadow(-3px 0px 0px var(--text-stroke))
            drop-shadow(0px 3px 0px var(--text-stroke))
            drop-shadow(0px -3px 0px var(--text-stroke));

    margin-bottom: -0.2rem;
}

.text {
    text-align: center;
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: 300;
    font-size: var(--text-size);
    margin: 0.25rem 0; /* Top: 0.25rem, Bottom: 0.25rem, Left: 0, Right: 0, “line spacing” of the whole page*/
}

/* Coin Image and functionality */
.coin {
    margin-top: 2rem; 
}

@keyframes flip {
  0%   { transform: rotateY(0deg); }
  50%  { transform: rotateY(1440deg); }
  100% { transform: rotateY(2880deg); }
}

.coin.flip-animation {
  animation: flip 1.5s ease-in-out;
  transform-style: preserve-3d;
}

.shadow {
    margin-top: 2rem;
}

/* Button and actions */
.container {
    min-height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    /* Layout & size */
    display: inline-flex;
    justify-content: center;
    padding: 0.7rem 2.6rem;

    /* Styling */
    color: var(--text-color); 
    background-color: var(--accent-color);
    font-size: var(--button-size); 
    border-radius: 0.6rem; /* How round is the border*/
    font-family: var(--font-family);
    border: none;
    box-shadow: 0px 6px 0px var(--accent-shadow); /* x-offset | y-offset | blur | color */
}

.btn:hover {
  transform: scale(1.02); /* Slight zoom */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Deeper shadow */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn:active {
  transform: scale(0.95); /* Shrink on click */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Reduced shadow */
}

/* About me */
.footer {
    padding: 0.5rem;
    text-align: center;
    opacity: 0.9;
}
